.extra-section{
    width:90% ;
    height:90%;
  margin-top: 19px;
  margin-left: 10px;

}
.extra-banner{
    background-color: #ccccff;
    margin-bottom: 90px;
 
}
.extra-text{
    text-align: justify;
}